body, h1, h2, h3, h4 {font-family: Georgia, 'Times New Roman', serif}
body {font-size: 14pt}
.container {max-width: 720px}
pre {background-color: inherit; margin-top: 10px}
code {font-size: 10pt}
p {margin-bottom: 16px}
header.page {text-align: center}
header h1 {margin-top: 16px; margin-bottom: 16px}
header div.icons {margin-bottom: 32px}
header img.me {border-radius: 64px; -moz-border-radius: 64px; -webkit-border-radius: 64px; margin-top: 32px}
section.posts ul {list-style-type: none; margin: 0; padding: 0}
.date-meta {color: #999}
#disqus_thread {border-top: 2px solid rgba(0,49,79,.08); margin-top: 32px; padding-top: 16px}
footer div.container {border-top: 2px solid rgba(0,49,79,.08); font-size: 0.85em; line-height: 1.5em; margin: 16px auto; padding: 8px; text-align: center}
blockquote {color: #888}
div.pagination {clear: both; width: 100%}
div.pagination a.older {float: left}
div.pagination a.newer {float: right}
section.book-advert {border-left: 5px solid #428bca; padding: 0 20px; margin: 20px 0}
section.book-advert h2 {color: #428bca; margin-top: 0}
section.book-advert img {float: right; padding-right: 10px}
